In [1]:
mylist = ['date', 'profit/losses']

In [2]:
mylist

['date', 'profit/losses']

In [3]:
# how to move cvs data to python format

In [4]:
budget_data = {'Jan-2010':867884,'Feb-2010':984655,'Mar-2010':322013,'Apr-2010':-69417,'May-2010':310503,'Jun-2010':522857,'Jul-2010':1033096,'Aug-2010':604885,'Sep-2010':-216386,'Oct-2010':477532,'Nov-2010':893810,'Dec-2010':-80353,
'Jan-2011':779806,
'Feb-2011':-335203,
'Mar-2011':697845,
'Apr-2011':793163,
'May-2011':485070,
'Jun-2011':584122,
'Jul-2011':62729,
'Aug-2011':668179,
'Sep-2011':899906,
'Oct-2011':834719,
'Nov-2011':132003,
'Dec-2011':309978,
'Jan-2012':-755566,
'Feb-2012':1170593,
'Mar-2012':252788,
'Apr-2012':1151518,
'May-2012':817256,
'Jun-2012':570757,
'Jul-2012':506702,
'Aug-2012':-1022534,
'Sep-2012':475062,
'Oct-2012':779976,
'Nov-2012':144175,
'Dec-2012':542494,
'Jan-2013':359333,
'Feb-2013':321469,
'Mar-2013':67780,
'Apr-2013':471435,
'May-2013':565603,
'Jun-2013':872480,
'Jul-2013':789480,
'Aug-2013':999942,
'Sep-2013':-1196225,
'Oct-2013':268997,
'Nov-2013':-687986,
'Dec-2013':1150461,
'Jan-2014':682458,
'Feb-2014':617856,
'Mar-2014':824098,
'Apr-2014':581943,
'May-2014':132864,
'Jun-2014':448062,
'Jul-2014':689161,
'Aug-2014':800701,
'Sep-2014':1166643,
'Oct-2014':947333,
'Nov-2014':578668,
'Dec-2014':988505,
'Jan-2015':1139715,
'Feb-2015':1029471,
'Mar-2015':687533,
'Apr-2015':-524626,
'May-2015':158620,
'Jun-2015':87795,
'Jul-2015':423389,
'Aug-2015':840723,
'Sep-2015':568529,
'Oct-2015':332067,
'Nov-2015':989499,
'Dec-2015':778237,
'Jan-2016':650000,
'Feb-2016':-1100387,
'Mar-2016':-174946,
'Apr-2016':757143,
'May-2016':445709,
'Jun-2016':712961,
'Jul-2016':-1163797,
'Aug-2016':569899,
'Sep-2016':768450,
'Oct-2016':102685,
'Nov-2016':795914,
'Dec-2016':60988,
'Jan-2017':138230,
'Feb-2017':671099}

In [5]:
budget_data

{'Jan-2010': 867884,
 'Feb-2010': 984655,
 'Mar-2010': 322013,
 'Apr-2010': -69417,
 'May-2010': 310503,
 'Jun-2010': 522857,
 'Jul-2010': 1033096,
 'Aug-2010': 604885,
 'Sep-2010': -216386,
 'Oct-2010': 477532,
 'Nov-2010': 893810,
 'Dec-2010': -80353,
 'Jan-2011': 779806,
 'Feb-2011': -335203,
 'Mar-2011': 697845,
 'Apr-2011': 793163,
 'May-2011': 485070,
 'Jun-2011': 584122,
 'Jul-2011': 62729,
 'Aug-2011': 668179,
 'Sep-2011': 899906,
 'Oct-2011': 834719,
 'Nov-2011': 132003,
 'Dec-2011': 309978,
 'Jan-2012': -755566,
 'Feb-2012': 1170593,
 'Mar-2012': 252788,
 'Apr-2012': 1151518,
 'May-2012': 817256,
 'Jun-2012': 570757,
 'Jul-2012': 506702,
 'Aug-2012': -1022534,
 'Sep-2012': 475062,
 'Oct-2012': 779976,
 'Nov-2012': 144175,
 'Dec-2012': 542494,
 'Jan-2013': 359333,
 'Feb-2013': 321469,
 'Mar-2013': 67780,
 'Apr-2013': 471435,
 'May-2013': 565603,
 'Jun-2013': 872480,
 'Jul-2013': 789480,
 'Aug-2013': 999942,
 'Sep-2013': -1196225,
 'Oct-2013': 268997,
 'Nov-2013': -687986,
 'Dec-2013': 1150461,
 'Jan-2014': 682458,
 'Feb-2014': 617856,
 'Mar-2014': 824098,
 'Apr-2014': 581943,
 'May-2014': 132864,
 'Jun-2014': 448062,
 'Jul-2014': 689161,
 'Aug-2014': 800701,
 'Sep-2014': 1166643,
 'Oct-2014': 947333,
 'Nov-2014': 578668,
 'Dec-2014': 988505,
 'Jan-2015': 1139715,
 'Feb-2015': 1029471,
 'Mar-2015': 687533,
 'Apr-2015': -524626,
 'May-2015': 158620,
 'Jun-2015': 87795,
 'Jul-2015': 423389,
 'Aug-2015': 840723,
 'Sep-2015': 568529,
 'Oct-2015': 332067,
 'Nov-2015': 989499,
 'Dec-2015': 778237,
 'Jan-2016': 650000,
 'Feb-2016': -1100387,
 'Mar-2016': -174946,
 'Apr-2016': 757143,
 'May-2016': 445709,
 'Jun-2016': 712961,
 'Jul-2016': -1163797,
 'Aug-2016': 569899,
 'Sep-2016': 768450,
 'Oct-2016': 102685,
 'Nov-2016': 795914,
 'Dec-2016': 60988,
 'Jan-2017': 138230,
 'Feb-2017': 671099}

In [6]:
budget_data.keys()

dict_keys(['Jan-2010', 'Feb-2010', 'Mar-2010', 'Apr-2010', 'May-2010', 'Jun-2010', 'Jul-2010', 'Aug-2010', 'Sep-2010', 'Oct-2010', 'Nov-2010', 'Dec-2010', 'Jan-2011', 'Feb-2011', 'Mar-2011', 'Apr-2011', 'May-2011', 'Jun-2011', 'Jul-2011', 'Aug-2011', 'Sep-2011', 'Oct-2011', 'Nov-2011', 'Dec-2011', 'Jan-2012', 'Feb-2012', 'Mar-2012', 'Apr-2012', 'May-2012', 'Jun-2012', 'Jul-2012', 'Aug-2012', 'Sep-2012', 'Oct-2012', 'Nov-2012', 'Dec-2012', 'Jan-2013', 'Feb-2013', 'Mar-2013', 'Apr-2013', 'May-2013', 'Jun-2013', 'Jul-2013', 'Aug-2013', 'Sep-2013', 'Oct-2013', 'Nov-2013', 'Dec-2013', 'Jan-2014', 'Feb-2014', 'Mar-2014', 'Apr-2014', 'May-2014', 'Jun-2014', 'Jul-2014', 'Aug-2014', 'Sep-2014', 'Oct-2014', 'Nov-2014', 'Dec-2014', 'Jan-2015', 'Feb-2015', 'Mar-2015', 'Apr-2015', 'May-2015', 'Jun-2015', 'Jul-2015', 'Aug-2015', 'Sep-2015', 'Oct-2015', 'Nov-2015', 'Dec-2015', 'Jan-2016', 'Feb-2016', 'Mar-2016', 'Apr-2016', 'May-2016', 'Jun-2016', 'Jul-2016', 'Aug-2016', 'Sep-2016', 'Oct-2016', 'Nov-2016', 'Dec-2016', 'Jan-2017', 'Feb-2017'])

In [7]:
month_data = ['Jan-2010', 'Feb-2010', 'Mar-2010', 'Apr-2010', 'May-2010', 'Jun-2010', 'Jul-2010', 'Aug-2010', 'Sep-2010', 'Oct-2010', 'Nov-2010', 'Dec-2010', 'Jan-2011', 'Feb-2011', 'Mar-2011', 'Apr-2011', 'May-2011', 'Jun-2011', 'Jul-2011', 'Aug-2011', 'Sep-2011', 'Oct-2011', 'Nov-2011', 'Dec-2011', 'Jan-2012', 'Feb-2012', 'Mar-2012', 'Apr-2012', 'May-2012', 'Jun-2012', 'Jul-2012', 'Aug-2012', 'Sep-2012', 'Oct-2012', 'Nov-2012', 'Dec-2012', 'Jan-2013', 'Feb-2013', 'Mar-2013', 'Apr-2013', 'May-2013', 'Jun-2013', 'Jul-2013', 'Aug-2013', 'Sep-2013', 'Oct-2013', 'Nov-2013', 'Dec-2013', 'Jan-2014', 'Feb-2014', 'Mar-2014', 'Apr-2014', 'May-2014', 'Jun-2014', 'Jul-2014', 'Aug-2014', 'Sep-2014', 'Oct-2014', 'Nov-2014', 'Dec-2014', 'Jan-2015', 'Feb-2015', 'Mar-2015', 'Apr-2015', 'May-2015', 'Jun-2015', 'Jul-2015', 'Aug-2015', 'Sep-2015', 'Oct-2015', 'Nov-2015', 'Dec-2015', 'Jan-2016', 'Feb-2016', 'Mar-2016', 'Apr-2016', 'May-2016', 'Jun-2016', 'Jul-2016', 'Aug-2016', 'Sep-2016', 'Oct-2016', 'Nov-2016', 'Dec-2016', 'Jan-2017', 'Feb-2017']

In [8]:
month_data

['Jan-2010',
 'Feb-2010',
 'Mar-2010',
 'Apr-2010',
 'May-2010',
 'Jun-2010',
 'Jul-2010',
 'Aug-2010',
 'Sep-2010',
 'Oct-2010',
 'Nov-2010',
 'Dec-2010',
 'Jan-2011',
 'Feb-2011',
 'Mar-2011',
 'Apr-2011',
 'May-2011',
 'Jun-2011',
 'Jul-2011',
 'Aug-2011',
 'Sep-2011',
 'Oct-2011',
 'Nov-2011',
 'Dec-2011',
 'Jan-2012',
 'Feb-2012',
 'Mar-2012',
 'Apr-2012',
 'May-2012',
 'Jun-2012',
 'Jul-2012',
 'Aug-2012',
 'Sep-2012',
 'Oct-2012',
 'Nov-2012',
 'Dec-2012',
 'Jan-2013',
 'Feb-2013',
 'Mar-2013',
 'Apr-2013',
 'May-2013',
 'Jun-2013',
 'Jul-2013',
 'Aug-2013',
 'Sep-2013',
 'Oct-2013',
 'Nov-2013',
 'Dec-2013',
 'Jan-2014',
 'Feb-2014',
 'Mar-2014',
 'Apr-2014',
 'May-2014',
 'Jun-2014',
 'Jul-2014',
 'Aug-2014',
 'Sep-2014',
 'Oct-2014',
 'Nov-2014',
 'Dec-2014',
 'Jan-2015',
 'Feb-2015',
 'Mar-2015',
 'Apr-2015',
 'May-2015',
 'Jun-2015',
 'Jul-2015',
 'Aug-2015',
 'Sep-2015',
 'Oct-2015',
 'Nov-2015',
 'Dec-2015',
 'Jan-2016',
 'Feb-2016',
 'Mar-2016',
 'Apr-2016',
 'May-2016',
 'Jun-2016',
 'Jul-2016',
 'Aug-2016',
 'Sep-2016',
 'Oct-2016',
 'Nov-2016',
 'Dec-2016',
 'Jan-2017',
 'Feb-2017']

In [9]:
budget_data.values()

dict_values([867884, 984655, 322013, -69417, 310503, 522857, 1033096, 604885, -216386, 477532, 893810, -80353, 779806, -335203, 697845, 793163, 485070, 584122, 62729, 668179, 899906, 834719, 132003, 309978, -755566, 1170593, 252788, 1151518, 817256, 570757, 506702, -1022534, 475062, 779976, 144175, 542494, 359333, 321469, 67780, 471435, 565603, 872480, 789480, 999942, -1196225, 268997, -687986, 1150461, 682458, 617856, 824098, 581943, 132864, 448062, 689161, 800701, 1166643, 947333, 578668, 988505, 1139715, 1029471, 687533, -524626, 158620, 87795, 423389, 840723, 568529, 332067, 989499, 778237, 650000, -1100387, -174946, 757143, 445709, 712961, -1163797, 569899, 768450, 102685, 795914, 60988, 138230, 671099])

In [10]:
profit_losses_data = [867884, 984655, 322013, -69417, 310503, 522857, 1033096, 604885, -216386, 477532, 893810, -80353, 779806, -335203, 697845, 793163, 485070, 584122, 62729, 668179, 899906, 834719, 132003, 309978, -755566, 1170593, 252788, 1151518, 817256, 570757, 506702, -1022534, 475062, 779976, 144175, 542494, 359333, 321469, 67780, 471435, 565603, 872480, 789480, 999942, -1196225, 268997, -687986, 1150461, 682458, 617856, 824098, 581943, 132864, 448062, 689161, 800701, 1166643, 947333, 578668, 988505, 1139715, 1029471, 687533, -524626, 158620, 87795, 423389, 840723, 568529, 332067, 989499, 778237, 650000, -1100387, -174946, 757143, 445709, 712961, -1163797, 569899, 768450, 102685, 795914, 60988, 138230, 671099]

In [11]:
profit_losses_data

[867884,
 984655,
 322013,
 -69417,
 310503,
 522857,
 1033096,
 604885,
 -216386,
 477532,
 893810,
 -80353,
 779806,
 -335203,
 697845,
 793163,
 485070,
 584122,
 62729,
 668179,
 899906,
 834719,
 132003,
 309978,
 -755566,
 1170593,
 252788,
 1151518,
 817256,
 570757,
 506702,
 -1022534,
 475062,
 779976,
 144175,
 542494,
 359333,
 321469,
 67780,
 471435,
 565603,
 872480,
 789480,
 999942,
 -1196225,
 268997,
 -687986,
 1150461,
 682458,
 617856,
 824098,
 581943,
 132864,
 448062,
 689161,
 800701,
 1166643,
 947333,
 578668,
 988505,
 1139715,
 1029471,
 687533,
 -524626,
 158620,
 87795,
 423389,
 840723,
 568529,
 332067,
 989499,
 778237,
 650000,
 -1100387,
 -174946,
 757143,
 445709,
 712961,
 -1163797,
 569899,
 768450,
 102685,
 795914,
 60988,
 138230,
 671099]

In [12]:
count = 0
total = 0
average = 0
minimum = 0
maximum =0

In [13]:
profit_losses_data.sort()

In [14]:
profit_losses_data

[-1196225,
 -1163797,
 -1100387,
 -1022534,
 -755566,
 -687986,
 -524626,
 -335203,
 -216386,
 -174946,
 -80353,
 -69417,
 60988,
 62729,
 67780,
 87795,
 102685,
 132003,
 132864,
 138230,
 144175,
 158620,
 252788,
 268997,
 309978,
 310503,
 321469,
 322013,
 332067,
 359333,
 423389,
 445709,
 448062,
 471435,
 475062,
 477532,
 485070,
 506702,
 522857,
 542494,
 565603,
 568529,
 569899,
 570757,
 578668,
 581943,
 584122,
 604885,
 617856,
 650000,
 668179,
 671099,
 682458,
 687533,
 689161,
 697845,
 712961,
 757143,
 768450,
 778237,
 779806,
 779976,
 789480,
 793163,
 795914,
 800701,
 817256,
 824098,
 834719,
 840723,
 867884,
 872480,
 893810,
 899906,
 947333,
 984655,
 988505,
 989499,
 999942,
 1029471,
 1033096,
 1139715,
 1150461,
 1151518,
 1166643,
 1170593]

In [15]:
profitable_count = [
 60988,
 62729,
 67780,
 87795,
 102685,
 132003,
 132864,
 138230,
 144175,
 158620,
 252788,
 268997,
 309978,
 310503,
 321469,
 322013,
 332067,
 359333,
 423389,
 445709,
 448062,
 471435,
 475062,
 477532,
 485070,
 506702,
 522857,
 542494,
 565603,
 568529,
 569899,
 570757,
 578668,
 581943,
 584122,
 604885,
 617856,
 650000,
 668179,
 671099,
 682458,
 687533,
 689161,
 697845,
 712961,
 757143,
 768450,
 778237,
 779806,
 779976,
 789480,
 793163,
 795914,
 800701,
 817256,
 824098,
 834719,
 840723,
 867884,
 872480,
 893810,
 899906,
 947333,
 984655,
 988505,
 989499,
 999942,
 1029471,
 1033096,
 1139715,
 1150461,
 1151518,
 1166643,
 1170593]

In [16]:
profitable_count

[60988,
 62729,
 67780,
 87795,
 102685,
 132003,
 132864,
 138230,
 144175,
 158620,
 252788,
 268997,
 309978,
 310503,
 321469,
 322013,
 332067,
 359333,
 423389,
 445709,
 448062,
 471435,
 475062,
 477532,
 485070,
 506702,
 522857,
 542494,
 565603,
 568529,
 569899,
 570757,
 578668,
 581943,
 584122,
 604885,
 617856,
 650000,
 668179,
 671099,
 682458,
 687533,
 689161,
 697845,
 712961,
 757143,
 768450,
 778237,
 779806,
 779976,
 789480,
 793163,
 795914,
 800701,
 817256,
 824098,
 834719,
 840723,
 867884,
 872480,
 893810,
 899906,
 947333,
 984655,
 988505,
 989499,
 999942,
 1029471,
 1033096,
 1139715,
 1150461,
 1151518,
 1166643,
 1170593]

In [17]:
unprofitable_count = [-1196225,
 -1163797,
 -1100387,
 -1022534,
 -755566,
 -687986,
 -524626,
 -335203,
 -216386,
 -174946,
 -80353,
 -69417,]

In [18]:
unprofitable_count

[-1196225,
 -1163797,
 -1100387,
 -1022534,
 -755566,
 -687986,
 -524626,
 -335203,
 -216386,
 -174946,
 -80353,
 -69417]

In [19]:
length = len(month_data)

In [20]:
length

86

In [21]:
length2 = len(profit_losses_data)

In [22]:
total = sum(profit_losses_data)
print(total)

for months in month_data:
    count = count + 1
    print(count)
    

#this shows the minimum and maximum profits data
for maximum in profitable_count:
    maximum = profitable_count[73]

for minimum in unprofitable_count:
    minimum = unprofitable_count[0]

#this will show that the lowest and highest dates for profits
for lowest_profit_day in budget_data:
    lowest_profit_day = budget_data.get('Sep-2013')

for greatest_profit_day in budget_data:
    greatest_profit_day = budget_data.get('Feb-2012')

#average profit/losses rounded to 2 decimal places
average = round(total / 86, 2)

print('------Statistical Summary-----')
print(f'Number of total months: {count}')
print(f"The average change in Profit/Losses: ${average}")
print('Greatest decrease in profits: Sep-2013, {}'.format(lowest_profit_day))
print('Greatest increase in profits: Feb-2012, {}'.format(greatest_profit_day))
print(f'Net Total of Profits/Losses: ${total}')

38382578
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
------Statistical Summary-----
Number of total months: 86
The average change in Profit/Losses: $446309.05
Greatest decrease in profits: Sep-2013, -1196225
Greatest increase in profits: Feb-2012, 1170593
Net Total of Profits/Losses: $38382578